<!--The content below is only a placeholder and can be replaced.-->

 <header class="header">
 
  &nbsp;&nbsp;
   <img src="/assets/images/BTA.png" height="60px" style="display: inline;">
   <h3>&nbsp; Bus Ticket agregator</h3>
   <button name="login" value="Login" id="btn" onclick="open1();">Login</button>

 </header>

 
 <section class="section">
   
 </section>


 <footer class="footer" >
   <br>
   © 2018 Tricon
 </footer>
 <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <p>Some text in the Modal..</p>
    </div>
  
  </div>




